<ion-header>
  <ion-toolbar>
    <ion-title>
      Heart rate calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>Age</ion-label>
        <ion-input type="number" name="age" [(ngModel)]="age"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Upper limit</ion-label>
        <ion-input type="number" name="upper" readonly value="{{upper | number : '1.2-2'}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Lower limit</ion-label>
        <ion-input type="number" name="lower" readonly value="{{lower | number : '1.2-2'}}"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button expand="block" (click)="calculate()">Calculate</ion-button>
    </div>
  </div>
</ion-content>